In [30]:
import pandas as pd
data_path_ludnosc = "ludnosc.csv"
data_path_gminy = "gminy.csv"
df_ludnosc = pd.read_csv(data_path_ludnosc, sep=";", decimal = ',')

df_ludnosc

,Kategoria,Kod,Nazwa,Zmienna,Rok,Wartosc,Jednostka miary,Atrybut,Unnamed: 8
0,Gospodarstwa,0,POLSKA,gospodarstwa domowe objęte badaniem,1999,31428.0,gosp.,NaN,NaN
1,Gospodarstwa,0,POLSKA,gospodarstwa domowe objęte badaniem,2000,36163.0,gosp.,NaN,NaN
2,Gospodarstwa,0,POLSKA,gospodarstwa domowe objęte badaniem,2001,31847.0,gosp.,NaN,NaN
3,Gospodarstwa,0,POLSKA,gospodarstwa domowe objęte badaniem,2002,32342.0,gosp.,NaN,NaN
4,Gospodarstwa,0,POLSKA,gospodarstwa domowe objęte badaniem,2003,32452.0,gosp.,NaN,NaN
...,...,...,...,...,...,...,...,...,...
25869,Wydatki,3200000,ZACHODNIOPOMORSKIE,udział wydatków na użytkowanie mieszkania i no...,2016,19.9,%,NaN,NaN
25870,Wydatki,3200000,ZACHODNIOPOMORSKIE,udział wydatków na użytkowanie mieszkania i no...,2017,19.5,%,NaN,NaN
25871,Wydatki,3200000,ZACHODNIOPOMORSKIE,udział wydatków na użytkowanie mieszkania i no...,2018,19.5,%,NaN,NaN
25872,Wydatki,3200000,ZACHODNIOPOMORSKIE,udział wydatków na użytkowanie mieszkania i no...,2019,19.3,%,NaN,NaN
25873,Wydatki,3200000,ZACHODNIOPOMORSKIE,udział wydatków na użytkowanie mieszkania i no...,2020,20.3,%,NaN,NaN

In [31]:
df_ludnosc[(df_ludnosc.Kategoria == "Dochody")].Zmienna.unique()

array(['ogółem', 'z pracy najemnej',
       'z gospodarstwa indywidualnego w rolnictwie',
       'z pracy na własny rachunek',
       'przeciętny miesięczny dochód rozporządzalny na 1 osobę  z gospodarstwa indywidualnego w rolnictwie w relacji do przeciętnego miesięcznego dochodu na 1 osobę z pracy na własny rachunek',
       'ze świadczeń społecznych',
       'ze świadczeń społecznych; w tym ze świadczenia wychowawczego Rodzina 500+""',
       'dochód do dyspozycji', 'ogółem, Polska = 100'], dtype=object)

In [32]:
x = df_ludnosc[df_ludnosc["Kategoria"] == "Dochody"]

In [33]:
x[(x["Zmienna"] == "ogółem") & (df_ludnosc.Rok == 2018)]

<ipython-input-33-0c85021e1ccf>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  x[(x["Zmienna"] == "ogółem") & (df_ludnosc.Rok == 2018)]

,Kategoria,Kod,Nazwa,Zmienna,Rok,Wartosc,Jednostka miary,Atrybut,Unnamed: 8
15489,Dochody,0,POLSKA,ogółem,2018,1693.46,zł,NaN,NaN
15687,Dochody,200000,DOLNOŚLĄSKIE,ogółem,2018,1755.50,zł,NaN,NaN
15885,Dochody,400000,KUJAWSKO-POMORSKIE,ogółem,2018,1611.33,zł,NaN,NaN
16083,Dochody,600000,LUBELSKIE,ogółem,2018,1527.69,zł,NaN,NaN
16281,Dochody,800000,LUBUSKIE,ogółem,2018,1664.89,zł,NaN,NaN
16479,Dochody,1000000,ŁÓDZKIE,ogółem,2018,1620.50,zł,NaN,NaN
16677,Dochody,1200000,MAŁOPOLSKIE,ogółem,2018,1627.85,zł,NaN,NaN
16875,Dochody,1400000,MAZOWIECKIE,ogółem,2018,2031.59,zł,NaN,NaN
17073,Dochody,1600000,OPOLSKIE,ogółem,2018,1589.30,zł,NaN,NaN
17271,Dochody,1800000,PODKARPACKIE,ogółem,2018,1347.26,zł,NaN,NaN
17469,Dochody,2000000,PODLASKIE,ogółem,2018,1596.76,zł,NaN,NaN
17667,Dochody,2200000,POMORSKIE,ogółem,2018,1737.54,zł,NaN,NaN
17865,Dochody,2400000,ŚLĄSKIE,ogółem,2018,1757.03,zł,NaN,NaN
18063,Dochody,2600000,ŚWIĘTOKRZYSKIE,ogółem,2018,1549.82,zł,NaN,NaN
18261,Dochody,2800000,WARMIŃSKO-MAZURSKIE,ogółem,2018,1554.81,zł,NaN,NaN
18459,Dochody,3000000,WIELKOPOLSKIE,ogółem,2018,1629.98,zł,NaN,NaN
18657,Dochody,3200000,ZACHODNIOPOMORSKIE,ogółem,2018,1722.23,zł,NaN,NaN

In [4]:
x[(x["Zmienna"] == 'udział wydatków na żywność i napoje bezalkoholowe w wydatkach ogółem') & (df_ludnosc.Rok == 2020)]

<ipython-input-4-38fcfea71bf3>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  x[(x["Zmienna"] == 'udział wydatków na żywność i napoje bezalkoholowe w wydatkach ogółem') & (df_ludnosc.Rok == 2020)]

Empty DataFrame
Columns: [Kategoria, Kod, Nazwa, Zmienna, Rok, Wartosc, Jednostka miary, Atrybut, Unnamed: 8]
Index: []

In [5]:
x[(x["Zmienna"] == 'żywność i napoje bezalkoholowe') & (df_ludnosc.Rok == 2020)]

<ipython-input-5-563d9cdaa0e7>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  x[(x["Zmienna"] == 'żywność i napoje bezalkoholowe') & (df_ludnosc.Rok == 2020)]

Empty DataFrame
Columns: [Kategoria, Kod, Nazwa, Zmienna, Rok, Wartosc, Jednostka miary, Atrybut, Unnamed: 8]
Index: []

In [6]:
y = df_ludnosc[df_ludnosc["Kategoria"] == "Wydatki"]

In [7]:
Hajs_na_alko = y[(y.Zmienna == "napoje alkoholowe i wyroby tytoniowe") & (y.Nazwa == "PODKARPACKIE")].Wartosc.values
Hajs_na_alko2 = Hajs_na_alko[1:]
Hajs_na_alko2

array([1213., 1202., 1170., 1325., 1319., 1201., 1231., 1337., 1450.,
       1482., 1612., 1812., 1941., 2063., 1924., 1975., 1911., 1857.,
       1920., 2077., 2344., 2674.])

In [8]:
z = df_ludnosc[df_ludnosc["Kategoria"] == "Dochody"]
Dochod_500_plus = z[(z.Zmienna == "ze świadczeń społecznych") & (z.Nazwa == "PODKARPACKIE")].Wartosc.values
Dochod_500_plus

array([17276., 18527., 20837., 22670., 24143., 24550., 25674., 26206.,
       25679., 27334., 29553., 32310., 33248., 34771., 34705., 35667.,
       36371., 43161., 46225., 49849., 55760., 56229.])

In [9]:
alcohol_vs_benefits = []
for i in range (0, len(Dochod_500_plus)):
    alcohol_vs_benefits.append(Hajs_na_alko2[i]/Dochod_500_plus[i])
    
alcohol_vs_benefits

[0.07021301227135911,
 0.06487828574512873,
 0.05615011757930604,
 0.058447287163652405,
 0.05463281282359276,
 0.04892057026476578,
 0.04794733972111864,
 0.051018850644890486,
 0.05646637330114101,
 0.05421818980024878,
 0.05454606977295029,
 0.05608170844939647,
 0.058379451395572664,
 0.05933105173851773,
 0.05543869759400663,
 0.05537331426809095,
 0.05254186027329466,
 0.043024953082644056,
 0.04153596538669551,
 0.04166583080904331,
 0.04203730272596844,
 0.04755553184299916]

In [10]:
y[(y.Zmienna == "napoje alkoholowe i wyroby tytoniowe") & (y.Nazwa == "MAZOWIECKIE")]

,Kategoria,Kod,Nazwa,Zmienna,Rok,Wartosc,Jednostka miary,Atrybut,Unnamed: 8
21803,Wydatki,1400000,MAZOWIECKIE,napoje alkoholowe i wyroby tytoniowe,1998,NaN,zł,NaN,NaN
21804,Wydatki,1400000,MAZOWIECKIE,napoje alkoholowe i wyroby tytoniowe,1999,1930.0,zł,NaN,NaN
21805,Wydatki,1400000,MAZOWIECKIE,napoje alkoholowe i wyroby tytoniowe,2000,2104.0,zł,NaN,NaN
21806,Wydatki,1400000,MAZOWIECKIE,napoje alkoholowe i wyroby tytoniowe,2001,2162.0,zł,NaN,NaN
21807,Wydatki,1400000,MAZOWIECKIE,napoje alkoholowe i wyroby tytoniowe,2002,2152.0,zł,NaN,NaN
21808,Wydatki,1400000,MAZOWIECKIE,napoje alkoholowe i wyroby tytoniowe,2003,2153.0,zł,NaN,NaN
21809,Wydatki,1400000,MAZOWIECKIE,napoje alkoholowe i wyroby tytoniowe,2004,2350.0,zł,NaN,NaN
21810,Wydatki,1400000,MAZOWIECKIE,napoje alkoholowe i wyroby tytoniowe,2005,2165.0,zł,NaN,NaN
21811,Wydatki,1400000,MAZOWIECKIE,napoje alkoholowe i wyroby tytoniowe,2006,2339.0,zł,NaN,NaN
21812,Wydatki,1400000,MAZOWIECKIE,napoje alkoholowe i wyroby tytoniowe,2007,2589.0,zł,NaN,NaN
21813,Wydatki,1400000,MAZOWIECKIE,napoje alkoholowe i wyroby tytoniowe,2008,2909.0,zł,NaN,NaN
21814,Wydatki,1400000,MAZOWIECKIE,napoje alkoholowe i wyroby tytoniowe,2009,3285.0,zł,NaN,NaN
21815,Wydatki,1400000,MAZOWIECKIE,napoje alkoholowe i wyroby tytoniowe,2010,3494.0,zł,NaN,NaN
21816,Wydatki,1400000,MAZOWIECKIE,napoje alkoholowe i wyroby tytoniowe,2011,3568.0,zł,NaN,NaN
21817,Wydatki,1400000,MAZOWIECKIE,napoje alkoholowe i wyroby tytoniowe,2012,3756.0,zł,NaN,NaN
21818,Wydatki,1400000,MAZOWIECKIE,napoje alkoholowe i wyroby tytoniowe,2013,3375.0,zł,NaN,NaN
21819,Wydatki,1400000,MAZOWIECKIE,napoje alkoholowe i wyroby tytoniowe,2014,3443.0,zł,NaN,NaN
21820,Wydatki,1400000,MAZOWIECKIE,napoje alkoholowe i wyroby tytoniowe,2015,3352.0,zł,NaN,NaN
21821,Wydatki,1400000,MAZOWIECKIE,napoje alkoholowe i wyroby tytoniowe,2016,3302.0,zł,NaN,NaN
21822,Wydatki,1400000,MAZOWIECKIE,napoje alkoholowe i wyroby tytoniowe,2017,3317.0,zł,NaN,NaN
21823,Wydatki,1400000,MAZOWIECKIE,napoje alkoholowe i wyroby tytoniowe,2018,3415.0,zł,NaN,NaN
21824,Wydatki,1400000,MAZOWIECKIE,napoje alkoholowe i wyroby tytoniowe,2019,3519.0,zł,NaN,NaN
21825,Wydatki,1400000,MAZOWIECKIE,napoje alkoholowe i wyroby tytoniowe,2020,3767.0,zł,NaN,NaN

In [11]:
z[(z.Zmienna == "ze świadczeń społecznych") & (z.Nazwa == "MAZOWIECKIE")]

,Kategoria,Kod,Nazwa,Zmienna,Rok,Wartosc,Jednostka miary,Atrybut,Unnamed: 8
16966,Dochody,1400000,MAZOWIECKIE,ze świadczeń społecznych,1999,19436.0,zł,NaN,NaN
16967,Dochody,1400000,MAZOWIECKIE,ze świadczeń społecznych,2000,20071.0,zł,NaN,NaN
16968,Dochody,1400000,MAZOWIECKIE,ze świadczeń społecznych,2001,21098.0,zł,NaN,NaN
16969,Dochody,1400000,MAZOWIECKIE,ze świadczeń społecznych,2002,22548.0,zł,NaN,NaN
16970,Dochody,1400000,MAZOWIECKIE,ze świadczeń społecznych,2003,25562.0,zł,NaN,NaN
16971,Dochody,1400000,MAZOWIECKIE,ze świadczeń społecznych,2004,25444.0,zł,NaN,NaN
16972,Dochody,1400000,MAZOWIECKIE,ze świadczeń społecznych,2005,25492.0,zł,NaN,NaN
16973,Dochody,1400000,MAZOWIECKIE,ze świadczeń społecznych,2006,27045.0,zł,NaN,NaN
16974,Dochody,1400000,MAZOWIECKIE,ze świadczeń społecznych,2007,27980.0,zł,NaN,NaN
16975,Dochody,1400000,MAZOWIECKIE,ze świadczeń społecznych,2008,29973.0,zł,NaN,NaN
16976,Dochody,1400000,MAZOWIECKIE,ze świadczeń społecznych,2009,33173.0,zł,NaN,NaN
16977,Dochody,1400000,MAZOWIECKIE,ze świadczeń społecznych,2010,32111.0,zł,NaN,NaN
16978,Dochody,1400000,MAZOWIECKIE,ze świadczeń społecznych,2011,32136.0,zł,NaN,NaN
16979,Dochody,1400000,MAZOWIECKIE,ze świadczeń społecznych,2012,35767.0,zł,NaN,NaN
16980,Dochody,1400000,MAZOWIECKIE,ze świadczeń społecznych,2013,37116.0,zł,NaN,NaN
16981,Dochody,1400000,MAZOWIECKIE,ze świadczeń społecznych,2014,36595.0,zł,NaN,NaN
16982,Dochody,1400000,MAZOWIECKIE,ze świadczeń społecznych,2015,36608.0,zł,NaN,NaN
16983,Dochody,1400000,MAZOWIECKIE,ze świadczeń społecznych,2016,43208.0,zł,NaN,NaN
16984,Dochody,1400000,MAZOWIECKIE,ze świadczeń społecznych,2017,46304.0,zł,NaN,NaN
16985,Dochody,1400000,MAZOWIECKIE,ze świadczeń społecznych,2018,48504.0,zł,NaN,NaN
16986,Dochody,1400000,MAZOWIECKIE,ze świadczeń społecznych,2019,53886.0,zł,NaN,NaN
16987,Dochody,1400000,MAZOWIECKIE,ze świadczeń społecznych,2020,56483.0,zł,NaN,NaN

In [12]:
df_ludnosc["Jednostka miary"].unique()

array(['gosp.', 'osoba', '-', '%', 'kg', 'l', 'szt.', 'zł'], dtype=object)

In [13]:
df_ludnosc[df_ludnosc["Jednostka miary"] == "%"]

,Kategoria,Kod,Nazwa,Zmienna,Rok,Wartosc,Jednostka miary,Atrybut,Unnamed: 8
2618,Wyposażenie,0,POLSKA,chłodziarka,2003,975.0,%,NaN,NaN
2619,Wyposażenie,0,POLSKA,chłodziarka,2004,977.0,%,NaN,NaN
2620,Wyposażenie,0,POLSKA,chłodziarka,2005,973.0,%,NaN,NaN
2621,Wyposażenie,0,POLSKA,chłodziarka,2006,NaN,%,NaN,NaN
2622,Wyposażenie,0,POLSKA,chłodziarka,2007,NaN,%,NaN,NaN
...,...,...,...,...,...,...,...,...,...
25869,Wydatki,3200000,ZACHODNIOPOMORSKIE,udział wydatków na użytkowanie mieszkania i no...,2016,199.0,%,NaN,NaN
25870,Wydatki,3200000,ZACHODNIOPOMORSKIE,udział wydatków na użytkowanie mieszkania i no...,2017,195.0,%,NaN,NaN
25871,Wydatki,3200000,ZACHODNIOPOMORSKIE,udział wydatków na użytkowanie mieszkania i no...,2018,195.0,%,NaN,NaN
25872,Wydatki,3200000,ZACHODNIOPOMORSKIE,udział wydatków na użytkowanie mieszkania i no...,2019,193.0,%,NaN,NaN
25873,Wydatki,3200000,ZACHODNIOPOMORSKIE,udział wydatków na użytkowanie mieszkania i no...,2020,203.0,%,NaN,NaN

In [14]:
df_ludnosc[(df_ludnosc.Kategoria == "Wydatki") & (df_ludnosc.Zmienna == "rekreacja i kultura") & (df_ludnosc.Rok == 2020)]

,Kategoria,Kod,Nazwa,Zmienna,Rok,Wartosc,Jednostka miary,Atrybut,Unnamed: 8
19088,Wydatki,0,POLSKA,rekreacja i kultura,2020,6947.0,zł,NaN,NaN
19502,Wydatki,200000,DOLNOŚLĄSKIE,rekreacja i kultura,2020,8873.0,zł,NaN,NaN
19916,Wydatki,400000,KUJAWSKO-POMORSKIE,rekreacja i kultura,2020,5849.0,zł,NaN,NaN
20330,Wydatki,600000,LUBELSKIE,rekreacja i kultura,2020,6186.0,zł,NaN,NaN
20744,Wydatki,800000,LUBUSKIE,rekreacja i kultura,2020,6434.0,zł,NaN,NaN
21158,Wydatki,1000000,ŁÓDZKIE,rekreacja i kultura,2020,6487.0,zł,NaN,NaN
21572,Wydatki,1200000,MAŁOPOLSKIE,rekreacja i kultura,2020,5403.0,zł,NaN,NaN
21986,Wydatki,1400000,MAZOWIECKIE,rekreacja i kultura,2020,9769.0,zł,NaN,NaN
22400,Wydatki,1600000,OPOLSKIE,rekreacja i kultura,2020,8099.0,zł,NaN,NaN
22814,Wydatki,1800000,PODKARPACKIE,rekreacja i kultura,2020,4235.0,zł,NaN,NaN
23228,Wydatki,2000000,PODLASKIE,rekreacja i kultura,2020,4701.0,zł,NaN,NaN
23642,Wydatki,2200000,POMORSKIE,rekreacja i kultura,2020,8000.0,zł,NaN,NaN
24056,Wydatki,2400000,ŚLĄSKIE,rekreacja i kultura,2020,7884.0,zł,NaN,NaN
24470,Wydatki,2600000,ŚWIĘTOKRZYSKIE,rekreacja i kultura,2020,4504.0,zł,NaN,NaN
24884,Wydatki,2800000,WARMIŃSKO-MAZURSKIE,rekreacja i kultura,2020,5442.0,zł,NaN,NaN
25298,Wydatki,3000000,WIELKOPOLSKIE,rekreacja i kultura,2020,5969.0,zł,NaN,NaN
25712,Wydatki,3200000,ZACHODNIOPOMORSKIE,rekreacja i kultura,2020,5957.0,zł,NaN,NaN

In [15]:
df_ludnosc[(df_ludnosc.Kategoria == "Dochody") & (df_ludnosc.Zmienna == "ogółem") & (df_ludnosc.Rok == 2020)]

,Kategoria,Kod,Nazwa,Zmienna,Rok,Wartosc,Jednostka miary,Atrybut,Unnamed: 8
15491,Dochody,0,POLSKA,ogółem,2020,191921.0,zł,NaN,NaN
15689,Dochody,200000,DOLNOŚLĄSKIE,ogółem,2020,203124.0,zł,NaN,NaN
15887,Dochody,400000,KUJAWSKO-POMORSKIE,ogółem,2020,184534.0,zł,NaN,NaN
16085,Dochody,600000,LUBELSKIE,ogółem,2020,167902.0,zł,NaN,NaN
16283,Dochody,800000,LUBUSKIE,ogółem,2020,197147.0,zł,NaN,NaN
16481,Dochody,1000000,ŁÓDZKIE,ogółem,2020,187183.0,zł,NaN,NaN
16679,Dochody,1200000,MAŁOPOLSKIE,ogółem,2020,191474.0,zł,NaN,NaN
16877,Dochody,1400000,MAZOWIECKIE,ogółem,2020,224052.0,zł,NaN,NaN
17075,Dochody,1600000,OPOLSKIE,ogółem,2020,171134.0,zł,NaN,NaN
17273,Dochody,1800000,PODKARPACKIE,ogółem,2020,158857.0,zł,NaN,NaN
17471,Dochody,2000000,PODLASKIE,ogółem,2020,194831.0,zł,NaN,NaN
17669,Dochody,2200000,POMORSKIE,ogółem,2020,179912.0,zł,NaN,NaN
17867,Dochody,2400000,ŚLĄSKIE,ogółem,2020,205036.0,zł,NaN,NaN
18065,Dochody,2600000,ŚWIĘTOKRZYSKIE,ogółem,2020,172692.0,zł,NaN,NaN
18263,Dochody,2800000,WARMIŃSKO-MAZURSKIE,ogółem,2020,188405.0,zł,NaN,NaN
18461,Dochody,3000000,WIELKOPOLSKIE,ogółem,2020,178913.0,zł,NaN,NaN
18659,Dochody,3200000,ZACHODNIOPOMORSKIE,ogółem,2020,186209.0,zł,NaN,NaN

In [16]:
dochody = df_ludnosc[(df_ludnosc.Kategoria == "Dochody") & (df_ludnosc.Zmienna == "ogółem") & (df_ludnosc.Rok == 2020)].Wartosc

In [17]:
wydatki = df_ludnosc[(df_ludnosc.Kategoria == "Wydatki") & (df_ludnosc.Zmienna == "rekreacja i kultura") & (df_ludnosc.Rok == 2020)].Wartosc

In [18]:
df = pd.DataFrame()
df["Kraje"] = Kraje.tolist()
df["Dochody"] = dochody.tolist()
df["wydatki kultura"] = wydatki.tolist()
df["udzial kultury"] = df["wydatki kultura"]/df["Dochody"]
df.sort_values(by = ["udzial kultury"])
import matplotlib.pyplot as plt
x = df["Dochody"]
y= df["wydatki kultura"]
plt.scatter(x,y)
plt.show()

NameError: name 'Kraje' is not defined

In [ ]:
df

In [ ]:
zrodlo_dochodu = df_ludnosc[(df_ludnosc.Kategoria == "Dochody")].Zmienna.unique()
zrodlo_dochodu

In [ ]:
plus500 = df_ludnosc[(df_ludnosc.Kategoria == "Dochody") & (df_ludnosc.Zmienna == "ze świadczeń społecznych") & (df_ludnosc.Nazwa == "PODKARPACKIE")]
najemna = df_ludnosc[(df_ludnosc.Kategoria == "Dochody") & (df_ludnosc.Zmienna == "z pracy najemnej") &(df_ludnosc.Nazwa == "PODKARPACKIE")]
rolnictwo = df_ludnosc[(df_ludnosc.Kategoria == "Dochody") & (df_ludnosc.Zmienna == "z gospodarstwa indywidualnego w rolnictwie") & (df_ludnosc.Nazwa == "PODKARPACKIE")]
wlasny_rachunek = df_ludnosc[(df_ludnosc.Kategoria == "Dochody") & (df_ludnosc.Zmienna == "z pracy na własny rachunek") & (df_ludnosc.Nazwa == "PODKARPACKIE")]

In [ ]:
x = df_ludnosc.Rok.unique()
x2 = x[:-1]
x2
plt.stackplot(x2, plus500.Wartosc, najemna.Wartosc, rolnictwo.Wartosc, wlasny_rachunek.Wartosc, labels=['świadczenia', 'praca najemna', 'rolnictwo', 'wlasny_rachunek'])
plt.legend(loc='upper left')

In [ ]:
t = df_ludnosc.Rok.unique()
t2 = t[:-1]
t2
plt.stackplot(t2, plus500.Wartosc, najemna.Wartosc, rolnictwo.Wartosc, wlasny_rachunek.Wartosc, labels=['świadczenia', 'praca najemna', 'rolnictwo', 'wlasny_rachunek'])
plt.legend(loc='upper left')

,Kategoria,Kod,Nazwa,Zmienna,Rok,Wartosc,Jednostka miary,Atrybut,Unnamed: 8
15491,Dochody,0,POLSKA,ogółem,2020,191921.0,zł,NaN,NaN
15689,Dochody,200000,DOLNOŚLĄSKIE,ogółem,2020,203124.0,zł,NaN,NaN
15887,Dochody,400000,KUJAWSKO-POMORSKIE,ogółem,2020,184534.0,zł,NaN,NaN
16085,Dochody,600000,LUBELSKIE,ogółem,2020,167902.0,zł,NaN,NaN
16283,Dochody,800000,LUBUSKIE,ogółem,2020,197147.0,zł,NaN,NaN
16481,Dochody,1000000,ŁÓDZKIE,ogółem,2020,187183.0,zł,NaN,NaN
16679,Dochody,1200000,MAŁOPOLSKIE,ogółem,2020,191474.0,zł,NaN,NaN
16877,Dochody,1400000,MAZOWIECKIE,ogółem,2020,224052.0,zł,NaN,NaN
17075,Dochody,1600000,OPOLSKIE,ogółem,2020,171134.0,zł,NaN,NaN
17273,Dochody,1800000,PODKARPACKIE,ogółem,2020,158857.0,zł,NaN,NaN
17471,Dochody,2000000,PODLASKIE,ogółem,2020,194831.0,zł,NaN,NaN
17669,Dochody,2200000,POMORSKIE,ogółem,2020,179912.0,zł,NaN,NaN
17867,Dochody,2400000,ŚLĄSKIE,ogółem,2020,205036.0,zł,NaN,NaN
18065,Dochody,2600000,ŚWIĘTOKRZYSKIE,ogółem,2020,172692.0,zł,NaN,NaN
18263,Dochody,2800000,WARMIŃSKO-MAZURSKIE,ogółem,2020,188405.0,zł,NaN,NaN
18461,Dochody,3000000,WIELKOPOLSKIE,ogółem,2020,178913.0,zł,NaN,NaN
18659,Dochody,3200000,ZACHODNIOPOMORSKIE,ogółem,2020,186209.0,zł,NaN,NaN